<div class="container mt-3">
    <div class="col-md-6 offset-md-4 card-body ">
        <form action="" #addtask='ngForm' (ngSubmit)='postTask(addtask)'>
            <div class="formgroup">
                <input type="text" name="task" class="form-control" placeholder="Add Task..!" #task='ngModel' ngModel>
            </div>
            <div class="btn btn-group float-right">
                <button type="submit" class="btn btn-outline-primary" >Add Task</button>
            </div>
        </form>
    </div>
    <!-- <app-viewtask [taskdetails]='addTask'></app-viewtask> -->
</div>

<div class="container">
        <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tasks of addTask">
                        <td>{{tasks.task}}</td>
                        <td><button type="submit" class="btn btn-outline-danger" (click)='deleteUser(tasks)'>Delete</button></td>
                    </tr>
                </tbody>
            </table>
</div>


